<div class="login-content">
  <div class="container h-100 pb-0">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-5 col-md-7 px-0">
        <div class="card bg-light border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h2 class="login-title">Sign In</h2>
            </div>
            <form [formGroup]="logInForm">
              <div class="alert alert-danger" role="alert" *ngIf="hasError">
                {{error}}
              </div>
              <div class="form-group mb-3" >
                <div class="input-group input-group-merge input-group-alternative" [class.has-error]="logInForm.controls.email.invalid && (logInForm.controls.email.dirty || logInForm.controls.email.touched)"
                [class.has-success]="">
                  <input type="email" formControlName="email" autocomplete="off" (keyup)="inputType()"
                    class="form-control form-control-material" required email id="inputEmail" placeholder="Email">
                </div>

                <div *ngIf="logInForm.controls.email.errors ? logInForm.controls.email.invalid && (logInForm.controls.email.dirty || logInForm.controls.email.touched) : false" >
                  <div *ngIf="logInForm.controls.email.errors ? logInForm.controls.email.errors.required : false" class="form-text text-danger px-1">
                    Email is required.
                  </div>
                  <div *ngIf="logInForm.controls.email.errors ? logInForm.controls.email.errors.email : false" class="form-text text-danger px-1">
                    Enter valid email.
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative" [class.has-error]="logInForm.controls.password.invalid && (logInForm.controls.password.dirty || logInForm.controls.password.touched)"
                [class.has-success]="">
                  <input type="password" formControlName="password" required (keyup)="inputType()"
                    class="form-control form-control-material" id="inputPass" placeholder="Password">
                </div>
                <div id="passHelp" *ngIf="logInForm.controls.password.errors ? logInForm.controls.password.errors.required && logInForm.controls.password.invalid && (logInForm.controls.password.dirty || logInForm.controls.password.touched) : false"
                    class="form-text text-danger px-1" style="font-size: 0.95em">Password is required.</div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4 px-5" (click) ="login()" [disabled]="logInForm.invalid || hasError">Sign in</button>
              </div>
              <div class="text-center">
                <a class="text-small" routerLink="/sign-up"><small>Create new account</small></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
