<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Event managment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarText">
    <ul class="navbar-nav mr-auto px-4">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/event-details']" routerLinkActive="router-link-active" >Events</a>
      </li>
      <li class="nav-item  my-2 my-lg-0 mr-2">
        <button class="btn btn-outline-dark" (click) = "logout()">Log out</button>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="w-100 text-end my-4"><button class="btn btn-success" (click)="open()">Add Event</button></div>
  <div>
    <table class="table ">
      <thead>
      <tr>
        <th scope="col">Event</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Location</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let country of countries | slice: (page-1) * pageSize : page * pageSize">
          <td scope="row">{{country.eventName}}</td>
          <td>{{country.Date | date : 'dd-MM-yyyy'}} </td>
          <td>{{country.Time}}</td>
          <td>{{country.location}}</td>
          <td><button class="btn btn-outline-primary" (click) = "onEdit(country.id)">Edit</button></td>
          <td><button class="btn btn-outline-danger" (click) = "OnDelete(country.id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-end px-4">
    <ngb-pagination [collectionSize]="countries.length" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>
  </div>
</div>
