<div class="signUp-content">
  <div class="container h-100 pb-0">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-5 col-md-7 px-0">
        <div class="card bg-light border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h2 class="signUp-title">Sign In</h2>
            </div>
            <form role="form" [formGroup]="signUpForm">
              <div class="alert alert-danger" role="alert" *ngIf="hasError">
                {{error}}
              </div>
              <div class="form-group mb-3" >
                <div class="input-group input-group-merge input-group-alternative" [class.has-error]="signUpForm.controls.userName.invalid && (signUpForm.controls.userName.dirty || signUpForm.controls.userName.touched)"
                [class.has-success]="">
                  <input type="text" formControlName="userName" autocomplete="off" (keyup)="inputType()"
                    class="form-control form-control-material" required id="inputuserName" placeholder="userName">
                </div>
                <div *ngIf="signUpForm.controls.userName.errors ? signUpForm.controls.userName.invalid && (signUpForm.controls.userName.dirty || signUpForm.controls.userName.touched) : false" >
                  <div *ngIf="signUpForm.controls.userName.errors ? signUpForm.controls.userName.errors.required : false" class="form-text text-danger px-1">
                    User Name is required.
                  </div>
                </div>
              </div>
              <div class="form-group mb-3" >
                <div class="input-group input-group-merge input-group-alternative" [class.has-error]="signUpForm.controls.email.invalid && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched)"
                [class.has-success]="">
                  <input type="email" formControlName="email" autocomplete="off" (keyup)="inputType()"
                    class="form-control form-control-material" required email id="inputEmail" placeholder="Email">
                </div>

                <div *ngIf="signUpForm.controls.email.errors ? signUpForm.controls.email.invalid && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched) : false" >
                  <div *ngIf="signUpForm.controls.email.errors ? signUpForm.controls.email.errors.required : false" class="form-text text-danger px-1">
                    Email is required.
                  </div>
                  <div *ngIf="signUpForm.controls.email.errors ? signUpForm.controls.email.errors.email : false" class="form-text text-danger px-1">
                    Enter valid email.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative" [class.has-error]="signUpForm.controls.password.invalid && (signUpForm.controls.password.dirty || signUpForm.controls.password.touched)"
                [class.has-success]="">
                  <input type="password" formControlName="password" required (keyup)="inputType()"
                    class="form-control form-control-material" id="inputPass" placeholder="Password">
                </div>
                <div id="passHelp" *ngIf="signUpForm.controls.password.errors ? signUpForm.controls.password.errors.required && signUpForm.controls.password.invalid && (signUpForm.controls.password.dirty || signUpForm.controls.password.touched) : false"
                    class="form-text text-danger px-1" style="font-size: 0.95em">Password is required.</div>
              </div>
              <div class="form-check form-group">
                <input class="form-check-input" type="checkbox" id="discount">
                <label class="form-control-label mb-0" for="discount">
                  Is auther?
                </label>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4 px-5" (click) ="signUp()" [disabled]="signUpForm.invalid || hasError">Sign in</button>
              </div>
              <div class="text-center">
                <a class="text-small" routerLink="/login"><small>Already have account? Log In</small></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
