<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Event</h4>
  <span aria-hidden="true" >&times;</span>
</div>
<div class="modal-body">
  <form [formGroup]="addEvent">
    <div class="form-group mb-4">
      <label class="mb-2" for="eventName">Event Name</label>
      <input type="email" class="form-control" id="eventName" placeholder="Enter event" formControlName = "eventName" [(ngModel)] = "passedProps.eventName">
    </div>
    <div class="form-group mb-4">
      <label class="mb-2" for="time">Time</label>
      <select class="form-control" id="time" formControlName = "Time" >
        <option *ngFor="let time of times" [selected] = 'time == passedProps.Time'>{{time}}</option>
      </select>
    </div>
    <div class="form-group mb-4">
      <label class="mb-2" for="date">Date</label>
      <div>
        <ngb-datepicker id="date" #d formControlName = "Date" [(ngModel)] = "passedProps.Date"></ngb-datepicker>
      </div>
    </div>
    <div class="form-group mb-4">
      <label class="mb-2" for="exampleFormControlTextarea1">Location</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName = "location" [(ngModel)] = "passedProps.location"></textarea>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="onAddEvent()" [disabled] = "addEvent.invalid">Save</button>
    </div>
  </form>
</div>
